* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: 'avenir';
  src: url('fonts/Avenir.otf');
}

$blueOne: #1B75BB;
$blueLight :#3f9ce3;
$darkBlue: #001a33;
@mixin transOne {
	-webkit-transition: .3s;
	transition: .3s;
}

body {
	font-family: 'avenir', sans-serif;
	font-size: 16px;
	line-height: initial;
	li {
		list-style: none;
	}
	a, a:hover {
		text-decoration: none;
	}
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		padding: 0;
	}
}

/* thank you message */
h6 {
	color: steelblue;
    font-size: 18px;
    border: 1px solid steelblue;
    padding: 5px;
    text-align: center;
}
/******************************/

.width-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

#header {
	padding: 5px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 82px;
	background-color: #fff;
	z-index: 2;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	.logo {
		float: left;
		img {
			width: 65px;
			float: left;
			margin-top: 2px;
		}
		span {
			float: left;
			color: $blueOne;
			font-size: 28px;
			margin-top: 20px;
			margin-left: 15px;
			&.cbwd {
				display: none;
			}
		}
	}
	#nav {
		float: right;
		li {
			float: left;
			margin-right: 8px;
			letter-spacing: 1px;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: #333;
				padding: 27px 10px 24px;
				display: inline-block;
				&::after {
					content: '';
    				display: block;
    				width: 0;
    				height: 2px;
    				background: $blueOne;
    				-webkit-transition: .3s;
    				transition: width .3s;
    				position: relative;
    				bottom: 45px;
				}
				&:hover::after {
					width: 100%;
				}
			}
		}
	}
	#hamburger {
		position: absolute;
		right: 20px;
		top: 30px;
		width: 30px;
		display: none;
		cursor: pointer;
		.bar {
			width: 100%;
			height: 4px;
			background-color: #333;
			border-radius: 100px;
			position: relative;
			-webkit-transition: .3s;
			transition: .3s;
			margin-top: 5px;
			&.bar-one {
				margin-top: 0;
			}
			&.barOneEffect {
				-webkit-transform: rotate(-135deg);
				transform: rotate(-135deg);
				background-color: #1B75BB !important;
				top: 9px;
			}

			&.barTwoEffect {
				background-color: transparent !important;
			}

			&.barThreeEffect {
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
				background-color: #1B75BB !important;
				bottom: 9px;
			}
		}
	}
}

#main {
	clear: both;
	margin-top: 82px;
}

.section {
	position: relative;
	padding-top: 80px;
	padding-bottom: 50px;
	.overlay {
		background: rgba(0,0,0,.5);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&.intro {
		background-image: url(images/coding-close.jpg);
		background-size: cover;
		background-position: center;
		color: #fff;
		height: 500px;
		padding-top: 120px;
		#my-img {
			width: 100px;
			border-radius: 50%;
			float: left;
			margin-right: 20px;
		}
		.content p {
			font-size: 18px;
			line-height: 34px;
			margin-bottom: 20px;
			a {
				color: $blueLight;
				display: inline-block;
				&::after {
					content: '';
    				display: block;
    				width: 0;
    				height: 2px;
    				background: $blueLight;
    				-webkit-transition: .3s;
    				transition: width .3s;
				}
				&:hover::after {
					width: 100%;
				}
			}
		}
	}
	&.work {
		background-color: #ddd;
	}
	&.testimonials {
		background-color: $blueLight;
		.testi-sec {
			margin-bottom: 30px;
			.quote {
				font-style: italic;
				line-height: 24px;
			}
			.author {
				font-weight: bold;
				margin-top: 10px;
			}
		}
	}
	&.contact {
		background-color: #eee;
		.width-wrap {
			max-width: 700px;
		}
		#website {
			display: none;
		}
		form {
			text-align: center;
			input, textarea {
				display: block;
				width: 100%;
				margin: 30px 0;
				border: none;
				background-color: #ddd;
				font-size: 16px;
				padding-left: 10px;
				outline: none;
				font-family: arial;
				height: 48px;
			}
			textarea {
				height: 148px;
				padding-top: 10px;
			}
			.submit {
				background-color: #333;
				padding: 10px 50px;
				color: #fff;
				font-size: 20px;
				letter-spacing: 1px;
				width: 175px;
				margin: 30px auto;
				border: 2px solid #333;
				cursor: pointer;
				font-family: 'avenir';
				border-radius: 0;
				-webkit-appearance: none;
				transition: .2s;
				&:hover, &:focus {
					background-color: transparent;
					color: #333;
				}
			}
		}
		.contact-row {
			width: 600px;
			margin: 60px auto;
			> div {
				float: left;
				&.phone-contact {
					float: right;
				}
				a {
					color: #333;
					font-size: 20px;
					.fa {
						margin-right: 10px;
					}
					&:hover span {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.content {
		position: relative;
		z-index: 1;
		h1 {
			font-size: 32px;
			margin-bottom: 20px;
		}
	}
}

.grid {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;

    figure {
    	width: 47%;
    	margin: 0 1.5% 20px;
    	position: relative;
    	overflow: hidden;
    	background: $blueOne;
    	img {
    		position: relative;
		    display: block;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			width: 100%;
			-webkit-filter: grayscale(50%);
			filter: grayscale(50%);
			@include transOne;
    	}
    	
    	figcaption {
		    color: #fff;
		    padding: 1em 1.3em;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		    background: rgba(0,0,0,.8);
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    opacity: 0;
		    visibility: hidden;
		    height: 27%;
		    -webkit-transform: translate(0, 100%);
    		transform: translate(0, 100%);
    		-webkit-transition: all 0.6s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    		transition: all 0.6s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    		&::before {
    			content: '';
			    display: block;
			    position: absolute;
			    height: 60px;
			    width: 5px;
			    background: $blueLight;
			    left: 0;
			    top: 10px;
    		}
    		h2 {
    			font-size: 20px;
    			display: inline-block;
    			text-transform: uppercase;
    			letter-spacing: 1px;
    			cursor: pointer;
    			@include transOne;
    			&:hover {
    				color: $blueLight;
    			}
    		}
    		p {
    			margin: 5px 0;
    		}
    		span.plus {
    			position: absolute;
    			right: 2%;
    			bottom: 5%;
    			color: $blueLight;
    			font-size: 28px;
    			font-weight: 700;
    			cursor: pointer;
    			@include transOne;
    			&:hover {
    				color: #3fb7e3;
    			}
    		}
    	}
    	&:hover {
    		img {
    			-webkit-filter: grayscale(0%);
    			filter: grayscale(0%);
    		}
    		figcaption {
    			opacity: 1;
    			visibility: visible;
    			-webkit-transform: translate(0, 0);
    			transform: translate(0, 0);
    		}
    	}
    }
}

footer {
	text-align: center;
	background-color: #eee;
	padding: 20px 0;
	.width-wrap {
		border-top: 2px solid #ddd;
		max-width: 700px;
	}
	p, a {
		display: inline-block;
		color: #333;
		.fa-linkedin-square {
			font-size: 30px;
			margin-left: 10px;
			&:hover {
				color: #555;
			}
		}
	}
	p {
		margin-top: 18px;
		padding: 10px 0;
	}
	#adventureland {
		display: block;
		font-size: 10px;
		a {
			color: #999;
			letter-spacing: 1px;
			text-transform: uppercase;
			-webkit-transition: .3s;
			transition: .3s;
			&:hover {
				color: #333;
			}
		}
	}
}


#overlay-full {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	display: none;
}
/*Carousel*/
.carousel-showcase {
	position: absolute !important;
	position: fixed !important;
	top: 20%;
	left: 0;
	right: 0;
	width: 50%;
	margin: auto;
	z-index: 4;
	display: none;
	.carousel-indicators {
		bottom: 0 !important;
		li {
			border-radius: 0;
			border: none;
			background-color: #ccc;
			&.active {
				background-color: orange;
				margin: 1px;
				width: 10px;
				height: 10px;
			}
		}
	}
	.carousel-control {
		width: auto;
		opacity: initial;
		background-color: initial;
		text-shadow: none;
		background-image: none !important;
		@include transOne;
		left: -20%;
		&.right {
			left: auto;
			right: -20%;
		}
		&:hover {
			color: orange;
		}
	}
	.carousel-caption {
		background-color: $darkBlue;
		width: 100%;
		position: static;
		text-align: left;
		text-shadow: none;
		padding: 0;
		padding: 1em;
		padding-bottom: 3em;
		h3 {
			margin: 0;
			margin-bottom: 15px;
		}
		a {
			color: #ccc;
			margin-top: 10px;
			display: inline-block;
			text-transform: uppercase;
			text-decoration: none !important;
			@include transOne;
			.fa {
				margin-left: 4px;
			}
			&:hover {
				color: orange;
				border-color: orange;
			}
		}
	}

	
}


/***** MEDIA QUERIES */
@media screen and (max-width: 1090px) {
	.grid figure p {
		width: 100%;
		text-align: left;
		a {
			display: block;
			margin-left: 0;
			width: 138px;

		}
	}
}



@media screen and (max-width: 920px) {
	#header {
		#hamburger {
			display: block;
		}
		#nav {
			background: $blueOne;
			position: absolute;
			right: -180px;
			top: 82px;
			-webkit-transition: .3s;
			transition: .3s;
			li {
				display: block;
				margin: 0;
				float: none;
				a {
					padding: 20px 25px;
					display: block;
					color: #fff;
					&::after {
						bottom: 25px;
						background-color: #fff;
					}
				}
			}
			&.nav-show {
				right: 0;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#header .logo span {
		display: none;
		&.cbwd {
			display: inline;
		}
	}
	.section.intro {
		height: auto;
		padding-top: 80px;
	}
	.section.contact .contact-row {
		width: auto;
	}

	
	.grid, #recent-work-heading {
		display: block;
		margin: 0 auto;
		width: 80%;
		figure {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
		}
	}
	#recent-work-heading {
		margin: 0 auto 20px;
	}

	footer .width-wrap {
		max-width: 500px;
	}
}

@media screen and (max-width: 475px) {
	.section.contact .contact-row > div {
		float: none !important;
		text-align: center;
		margin-bottom: 15px;
	}

	.grid, #recent-work-heading {
		width: 100%;
	}

	.grid figure figcaption {
		padding: 1em;
		font-size: 1.10em;
	}

	.grid figure h2 {
		font-size: 1em;
	}
	
	footer {
		padding-top: 0;
	}
}

@media screen and (max-width: 320px) {
	.grid figure p {
		font-size: .9em;
	}
}